{% extends 'main/base.html' %}
{% load static i18n %}

{% block title %}
{% trans 'Главная' %}
{% endblock title %}
{% load static %}

{% block head_css %}
<link rel="stylesheet" href="{% static '/css/scroll.css' %}" type="text/css">

{% endblock head_css %}

{% block content %}
<p class="text-light">{{ room_name }}</p>
<style>
table, th, td {
    border-collapse: collapse;
}
td{
    border-top: none;
    border-bottom: none;
}
a { 
    text-decoration: none; /* Отменяем подчеркивание у ссылки */
  } 

  li {
    list-style-type: none; /* Убираем маркеры */
   }
   ul {
    margin-left: 0; /* Отступ слева в браузере IE и Opera */
    padding-left: 0; /* Отступ слева в браузере Firefox, Safari, Chrome */
   }
#qwe {
width:400px;
word-wrap: break-word;
}
#qwer {
height:400px;
word-wrap: break-word;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
</style>
<script type="text/javascript" src="{% static '/js/getData.js' %}"></script>



<div class="container-fluid">
  <div class="row">
    
    <div class="col-xl-3">
      <div id="qwer" class="card" style="background-color: #302e3dc9;">
        <div id="chat-messages" class="anyClass card-body">
          <table class="table table-sm">
            {% for m in messages %}
              <tr>
                  <td>
                    <a href="{% url 'profile_view' m.username.profile.slug %}"><img src="/media/{{ m.username.profile.avatar }}" class="rounded-circle z-depth-0" alt="avatar image" height="30" width="30"></a>&emsp;
                    <a style="font-size:14px" class="text-secondary" href="{% url 'profile_view' m.username.profile.slug %}">{{ m.username }} | {{ m.date_added }}</a>
                  </td>
              </tr>
              <tr>
                  <td colspan="2">
                    <div id="qwe" class="text-light" style="font-size:14px">
                      &emsp;{{ m.content|safe }}
                    </div>
                  </td>
              </tr>
            {% endfor %}
        </table>
        </div>
        {% if user.is_authenticated %}
        <li class="white">
          <div class="form-group basic-textarea">
            <textarea style="background-color: #302e3dc9; border-color: rgba(126, 136, 136, 0.651);" class="form-control pl-2 my-0 text-light" id="chat-message-input" rows="1" placeholder="{% trans 'Пишите ваше сообщение здесь...' %}"></textarea>
            <!--<span onclick="getEmj('😀');">😀</span>
            <span onclick="getEmj('😈');">😈</span>-->
          </div>
        </li>
        <br>
          <button type="button" id="chat-message-submit" class="btn btn-dark btn-sm btn-block text-light">{% trans 'Отправить' %}</button>
        {% endif %}
      </div>
    </div>
  </div>


{{ room_name|json_script:"json-roomname" }}
{{ user.username|json_script:"json-username" }}
{# user.profile.avatar|json_script:"json-avatar" #}
{{ user.profile.slug|json_script:"json-slug" }}

<script type="text/javascript" src="{% static '/js/chat.js' %}"></script>


<!--<div style="width: 200px; height: 200px; position: fixed; top: 100px; left: 1px; border: 1px solid black; background:red;"></div>-->

{% endblock %}