{% extends  'main/base.html' %}

{% block title %}
Edit Profile
{% endblock %}

{% block content %}
<!-- enctype="multipart/form-data" для загрузки картинки -->
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="container mt-3 text-light">
      <div class="row card-body" style="background-color: #302e3dc9;">
        <h1 class="text-center mt-4 card-text">Your profile, {{ user.username }}</h1>
        <div class="col-sm">
            <p>Твоё имя:</p>{{ form0.username }}
            <hr>
            {{ form.about_me }}
        </div>
        <div class="col-sm">
            <img src="/media/{{ user_p.avatar }}" class="rounded-circle depth-0" alt="avatar image" height="256" width="256">
            {{ current_path }}
            <hr>
            {{ form.avatar }}
        </div>
        <button type="submit" class="btn btn-secondary mt-4">ОБНОВИТЬ</button>
        <span>{{ error }}</span>
      </div>
    </div>
</form>
{% endblock %}