{% extends  'main/base.html' %}
{% load static i18n %}

{% block title %}
Profile
{% endblock %}

{% block content %}

<div class="col-2 mt-4">

</div>

<div class="col-8 mt-4">
  <div class="card-body" style="background-color: #302e3dc9;">
  <div class="container mt-4">
    <div class="text-center mt-4">
      <img src="/media/{{ data.avatar }}" class="rounded-circle depth-0" alt="avatar image" height="256" width="256">
      <h1 class="card-text text-white">{{ data }}</h1>
      <p class="text-white">{{ data.about_me }}</p>
      {% if data.user == user %}
      <a href="{% url 'profile_edit' user.profile.slug %}" class="btn btn-success btn-sm" role="button">{% trans 'Изменить' %}</a><td></td>
      {% endif %}
    </div>
  </div>
</div>

<div class="col-2 mt-4">

</div>


{% endblock %}