{% extends  'main/base.html' %}
{% load static i18n %}
{% load get_avatar %}
{% block title %}
{% trans 'Профиль' %}
{% endblock %}

{% block content %}
<style>
  a { 
    text-decoration: none; /* Отменяем подчеркивание у ссылки */
    color: rgb(222, 204, 240);
  }
  a:hover {
    color: rgb(34, 185, 178);
  }
 </style>

<div style="margin-left: auto; margin-right: auto;" class="col-md-9 text-center mt-4">
  <div class="card-body rounded" style="background-color: #302e3dc9;">
  <div class="row">
    {% if fr %}
      {% if user_p == user %}
      <div style="padding: 0%;" class="col-md-3 border border-success rounded">
        <h5 class="text-light border border-success border-right-0 border-left-0 border-top-0 rounded">{% trans 'Запросы дружбы' %}</h5>
        {% for i in fr %}
        <p style="font-size: 110%;" class="card-text text-white">
          <a href="{% url 'profile_view' i %}"><img src="/media/{{ i|get_avatar }}" class="rounded-circle z-depth-0" height="40" width="40" alt=""> {{ i }}</a>
          <a style="margin-left: 1ch;" class="btn btn-outline-success btn-sm" href="{% url 'AFR' i.id %}">{% trans 'принять' %}</a>
          <a onclick="return proverka()" style="margin-left: 1ch;" class="btn btn-outline-danger btn-sm" href="{% url 'DFR' i.id %}">{% trans 'отклонить' %}</a>
        </p>
      </div>
        {% endfor %}
    {% endif %}
    {% endif %}
    <div class="text-center col-md rounded">
      <img src="/media/{{ avatar_p }}" class="rounded-circle depth-0" alt="avatar image" height="256" width="256">
      <p class="card-text text-white">id: {{ id_p }}</p>
      <h1 class="card-text text-white">{{ user_p }}</h1>
      <p class="text-white">{{ about_me_p|safe }}</p>
      {% if user_p == user %}
      <a href="{% url 'profile_edit' %}" class="btn btn-success btn-sm" role="button">{% trans 'Изменить' %}</a><td></td>
      {% endif %}
      {% if user_p != user and bool_fr != True %}
        <p class="text-white">{{ bool_fr }}</p>
        <a class="btn btn-success btn-sm" href="{% url 'SFR' id_p %}">{% trans 'Добавить в друзья' %}</a>
      {% endif %}
   </div>
   {% if user_p == user %}
    {% if friends %}
    <div style="padding: 0%;" class="col-md-3 border border-success rounded">
    <h5 class="text-light border border-success border-right-0 border-left-0 border-top-0 rounded">{% trans 'Друзья' %}</h5>
    {% for frnd in friends %}
    <p class="card-text text-white" style="font-size: 110%;">
      <a href="{% url 'profile_view' frnd.profile.slug %}">
        <img src="/media/{{ frnd.profile.avatar }}" class="rounded-circle z-depth-0" height="40" width="40" alt="">
        &nbsp;{{ frnd }}</a>
        <a target="_blank" href="{% url 'chat_ls' frnd.profile.id %}" class="btn btn-outline-success btn-sm">{% trans 'чат' %}</a>
        <a onclick="return proverka()" style="margin-left: 1ch;" class="btn btn-outline-danger btn-sm" href="{% url 'DF' frnd.profile.id %}">{% trans 'перестать дружить' %}</a>
      </p>
    {% endfor %}
    </div>
    {% endif %}
   {% endif %}
  </div>
</div>

<div class="col-2 mt-4">

</div>
<script>
  function proverka() {
  //Do you want this for sure?
if (confirm("{% trans 'Ты точно этого хочешь?' %}")) {
    return true;
    } else {
        return false;
    }
}
</script>


{% endblock %}