{% extends "blog/base.html" %}

{% block paginated %}
  {% if is_paginated %}
  <ul class="pagination justify-content-center">
  {% if page_obj.has_previous %}
      <li style="margin-right: 2ch;">
          <span><a href="{% url 'blog_articls' page_obj.previous_page_number %}">Previous</a></span>
      </li>
  {% endif %}
      <li>
          <span>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.</span>
      </li>
  {% if page_obj.has_next %}
      <li style="margin-left: 2ch;">
          <span><a href="{% url 'blog_articls' page_obj.next_page_number %}">Next</a></span>
      </li>
  {% endif %}
  </ul>
  {% endif %}
{% endblock paginated %}