{% extends "main/base.html" %}
{% load static i18n %}
{% block title %}
{{ title }}
{% endblock %}

{% block content %}
 <style>
  a { 
    text-decoration: none; /* Отменяем подчеркивание у ссылки */
    color: rgb(38, 180, 38);
  } 
  a:hover {
    color: rgb(48, 206, 193);
  }
 </style>
      <div class="mt-4 col-md-2">

      </div>
      <div class="mt-4 col-md-7">
        <div class="card-title text-light" style="background-color: #302e3dc9;">
          <p class="text-center">{% block paginated %}{% endblock paginated %}</p>
        </div>

        {% for post in post_list %}
        <div class="card mb-4" style="background-color: #302e3dc9;">
          <div class="row card-body text-light">

            {% if post.image_articles %}
            <div class="col-xs-6 col-sm-3">
              <img src="/media/{{ post.image_articles }}" class="img-fluid rounded" width="220" height="220">
            </div>
            {% endif %}

            <div class="col-xs-6 col-sm-9">
              <h2 class="card-title">{{ post.title }}</h2>
              <!--<p class="card-text text-muted h6">{{ post.author }} | {{ post.created_on }} </p>-->
              <a class="card-text text-muted" href="{% url 'profile_view' post.author.profile.slug %}">{{ post.author }} | {{ post.created_on }}</a>
              <p class="card-text">{{ post.content|striptags|slice:":200" }}</p>
              <a href="{% url 'post_detail' post.slug  %}" class="btn btn-secondary">{% trans 'Читать дальше' %} &rarr;</a>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
      {% block sidebar %}
      {# {% include 'blog/sidebar.html' %} #}
      {% endblock sidebar %}
{%endblock%}
