{% extends 'main/base.html' %}
{% load static i18n %}
{% block title %}
Write
{% endblock %}
To write an article
{% block content %}
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="container">
          <div class="row">
            <h1 class="mt-4 text-center text-light">Написать статью</h1>
            <div class="col-md-auto">
              {{ form.media }}
              {{ form.title }}
              {{ form.slug }}
              {{ form.content }}
              {{ form.image_articles }}

              {{ form.author }}
              {{ form.status }}
              {{ form.news }}
            </div>
            <button type="submit" class="btn btn-primary mt-4">Создать</button>
            <span>{{ error }}</span>
          </div>
        </div>
    </form>
{% endblock %}