{% extends 'main/base.html' %}
{% load static i18n %}
{% block title %}
{% trans 'Панель редактирования' %}
{% endblock %}

{% block content %}
<div class="container mt-3">
  <div class="row card-body" style="background-color: #f2f1f8d0;">
    <a class="btn btn-primary btn-lg btn-block" href="{% url 'blog_create_articles' %}">{% trans 'Создать статью' %}</a>
    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">{% trans 'Заголовок' %}</th>
            <th scope="col">{% trans 'Дата' %}</th>
            <th scope="col">{% trans 'Автор' %}</th>
            <th scope="col">{% trans 'Где' %}</th>
            <th scope="col">{% trans 'Статус' %}</th>
            <th scope="col">######</th>
            <th scope="col">######</th>
          </tr>
        </thead>
        <tbody>
        {% for i in list_articles %}
          <tr>
            <th>{{ i.id }}</th>
            <td>{{ i.title }}</td>
            <td>{{ i.created_on }}</td>
            <td>{{ i.author }}</td>
            {% if i.news == 0 %}
            <td>Articles</td>
            {% elif i.news == 1 %}
            <td>Product</td>
            {% else %}
            <td>HOME</td>
            {% endif %}
            {% if i.status == 0 %}
            <td>{% trans 'Не опубликовано' %}</td>
            {% else %}
            <td>{% trans 'Опубликовано' %}</td>
            {% endif %}
            <td>
              <a href="{% url 'blog_edit' i.id %}" class="btn btn-outline-success btn-sm" role="button">{% trans 'Редактировать' %}</a><td>
              <form id="delete_form" action="{% url 'blog_delete' i.id %}" method="POST">
                {% csrf_token %}
                <button type="submit" class="btn btn-outline-danger btn-sm">{% trans 'Удалить' %}</button>
              </form>
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
  </div>
</div>

{% endblock %}