{% extends 'main/base.html' %}
{% load static i18n %}
{% block title %}
{% trans 'Редактировать' %}
{% endblock %}


{% block content %}
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="container">
          <h1 class="mt-4">{% trans 'Редактировать статью' %}</h1>
          <div class="row">
            <div class="col-md-auto">
              {{ form.media }}
              {{ form.title }}
              {{ form.slug }}
              {{ form.content }}
              

              {{ form.author }}
              {{ form.status }}
              {{ form.news }}

              <div><p>{{ form.image_articles }}</p></div>
            </div>
            <button type="submit" class="btn btn-primary mt-4">{% trans 'Обновить' %}</button>
            <span>{{ error }}</span>
          </div>
        </div>

    </form>
{% endblock %}