{% extends  'accounts/base.html' %}
{% load crispy_forms_tags %}

{% block title %}LogIn{% endblock %}
{% block main %}

<div class="card">
<div class="card-body">
<h4 class="card-title">Log in to your account</h4>

<form method="post">
{% csrf_token %}
<input type="hidden" name="next" value="{{ next }}">

{{ form|crispy }}

<button type="submit" class="btn btn-primary btn-block">Log in</button>
<p><a href="{% url 'password_reset' %}">Lost password?</a></p>
</form>
</div>
</div>
{% endblock %}

{% block sosial %}
<div class="card mt-2">
    <div class="card-body">
        <h4 class="card-title">Log in using social networks</h4>
        <a class="btn btn-primary btn-lg btn-block" href="">social</a>
    </div>
</div>
{% endblock %}