{% extends 'main/base.html' %}
{% load static i18n %}
{% block title %}{% trans 'Регистрация' %}{% endblock %}

{% block content %}
<form action="" method="post">
  {% csrf_token %}
<div class="container mt-4">
  <div class="col-md-6">
    <div class="card mb-4" style="background-color: #302e3dc9;">
      <div class="row card-body">
          <!---->
          
          <table class="table mt-2 text-light">
            <tbody>
              <tr>
                <th><p>{% trans 'Имя' %}:</p></th>
                <th><p>{{ form.username }}</p></th>
              </tr>
    
              <tr>
                <th><p>{% trans 'Адрес электронной почты' %}:</p></th>
                <th><p>{{ form.email }}</p></th>
              </tr>
    
              <tr>
                <th><p>{% trans 'Пароль' %}:</p></th>
                <th><p>{{ form.password1 }}</p></th>
              </tr>
    
              <tr>
                <th><p>{% trans 'Ещё раз =)' %}:</p></th>
                <th><p>{{ form.password2 }}</p></th>
              </tr>

              <tr>
                <th colspan="2"><button type="submit" class="btn btn-secondary btn-block">{% trans 'Зарегистрироваться' %}</button></th>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
  </div>
</div>


</form>
{% endblock %}