{% extends 'main/base.html' %}
{% load static i18n %}
{% block title %}
{% trans 'О нас' %}
{% endblock %}

{% block content %}
<div class="container">
  <div class="row align-items-start mt-4">
    <div class="col">
      <div class="card-body text-light" style="background-color: #302e3dc9;">
        {% for i in about %}
        <h1 class="card-text text-center">{{ i.title }}</h1>
        <br>
        {{ i.content | safe }}
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock %}