{% extends 'main/base.html' %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}
  <h1>Articles</h1>
  {% if ex_datas %}
    {% for el in ex_datas %}
      <div class="alert-warning mt-2">
        <h3>{{ el.title }}</h3>
        <p>{{ el.data }}</p>
      </div>
    {% endfor %}
  {% else %}
      <p>ТЮ-ТЮ</p>
  {% endif %}

{% endblock %}