{% extends 'main/base.html' %}

{% block title %}
Write
{% endblock %}
To write an article
{% block content %}
  <h1>Написать статью</h1>
    <form method="POST">
        {% csrf_token %}
        {{ form.title }}
        {{ form.data }}
        <button type="submit" class="btn btn-success">Публикация</button>
        <span>{{ error }}</span>
    </form>
{% endblock %}