<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8"/>
        <title>Chatty</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/css/bootstrap.min.css" integrity="sha384-DhY6onE6f3zzKbjUPRc2hOzGAdEf4/Dz+WJwBvEYL/lkkIsI3ihufq9hk9K4lVoK" crossorigin="anonymous">
    </head>

    <body>

        <div class="card grey lighten-3 chat-room">
            <div class="card-body">
          
              <!-- Grid row -->
              <div class="row px-lg-2 px-2">
          
                <!-- Grid column -->
                <div class="col-md-6 col-xl-8 pl-md-3 px-lg-auto px-0">
          
                  <div class="chat-message">
                    <ul class="list-unstyled chat">
                      <div id="chat-messages">
                      {% for m in messages %}
                      <li class="d-flex justify-content-between mb-4">
                        <img src="/media/{{ m.username.profile.avatar }}" class="rounded-circle z-depth-0" alt="avatar image" height="30" width="30">
                        <div class="chat-body white p-3 ml-2 z-depth-1">
                          <div class="header">
                            <strong class="primary-font">{{ m.username }}</strong>
                            <small class="pull-right text-muted"><i class="far fa-clock"></i>{{ m.date_added }}</small>
                          </div>
                          <hr class="w-100">
                          <p class="mb-0">
                            {{ m.content }}
                          </p>
                        </div>
                      </li>
                      {% endfor %}
                    </div>
                      <li class="white">
                        <div class="form-group basic-textarea">
                          <textarea class="form-control pl-2 my-0" id="chat-message-input" rows="3" placeholder="Type your message here..."></textarea>
                        </div>
                      </li>
                      <button type="button" id="chat-message-submit" class="btn btn-info btn-rounded btn-sm waves-effect waves-light float-right">Send</button>
                    </ul>
          
                  </div>
          
                </div>
                <!-- Grid column -->
          
              </div>
              <!-- Grid row -->
          
            </div>
          </div>



       {{ room_name|json_script:"json-roomname" }}
       {{ user.username|json_script:"json-username" }}

        <script>
            function scrollToBottom() {
                let objDiv = document.getElementById("chat-messages");
                objDiv.scrollTop = objDiv.scrollHeight;
            }

            scrollToBottom();

            const roomName = JSON.parse(document.getElementById('json-roomname').textContent);
            const userName = JSON.parse(document.getElementById('json-username').textContent);

            const chatSocket = new WebSocket(
                'ws://'
                + window.location.host
                + '/ws/'
                + roomName
                + '/'
            );

            chatSocket.onmessage = function(e) {
                console.log('onmessage');

                const data = JSON.parse(e.data);

                if (data.message) {
                    document.querySelector('#chat-messages').innerHTML += (
                      '<li class="d-flex justify-content-between mb-4">' +
                        '<img src="/media/{{ m.username.profile.avatar }}" class="rounded-circle z-depth-0" alt="avatar image" height="30" width="30">' +
                        '<div class="chat-body white p-3 ml-2 z-depth-1">' +
                          '<div class="header">' +
                            '<strong class="primary-font">' + data.username + '</strong>' +
                            '<small class="pull-right text-muted"><i class="far fa-clock"></i>DATE</small>' +
                          '</div>' +
                          '<hr class="w-100">' +
                          '<p class="mb-0">' +
                            data.message +
                          '</p>' +
                        '</div>' +
                      '</li>'
                    );
                } else {
                    alert('The message is empty!');
                }

                scrollToBottom();
            };

            chatSocket.onclose = function(e) {
                console.log('The socket close unexpectadly');
            };

            document.querySelector('#chat-message-submit').onclick = function(e) {
                const messageInputDom = document.querySelector('#chat-message-input');
                const message = messageInputDom.value;

                chatSocket.send(JSON.stringify({
                    'message': message,
                    'username': userName,
                    'room': roomName
                }));

                messageInputDom.value = '';
            };
        </script>
    </body>
</html>