circle {
  transition: 200ms;
  cursor: pointer;
}

circle:hover {
  fill: steelblue
}

circle:active {
  r: 240;
}

circle {
  fill: #456BD9;
  stroke: #0F1C3F;
  stroke-width: 0.1875em;
}

text {
  text-anchor: middle;
  dominant-baseline: central;
  font-size: 200px;
  pointer-events: none;
}

input {
  display: none;
}